# Python caches
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.env

# Downloaded Models (We want users to run the setup script, not clone these)
models/*.py
models/*.pkl
!models/.gitkeep

# Media files (Don't upload your test videos!)
*.mp4
*.avi
*.mkv
*.gif

# VS Code / IDE settings
.vscode/
.idea/